/*---------------*/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.text-transform_uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background_color_form-color {
  background-color: #ba0000;
}

.background_color_btn-color {
  background-color: #ffcc00;
}

.bottom-border_active:after {
  content: "";
  position: absolute;
  width: 107px;
  height: 4px;
  background-color: #ba0000;
  left: -15px;
  top: 74px;
}

/*---------------*/
.pre-header {
  justify-content: flex-end;
}
.pre-header .pre-header__lang, .pre-header .pre-header__contact, .pre-header .pre-header__profile {
  font-size: 14px;
  color: #ffffff;
  padding: 17px 0;
}
.pre-header .pre-header__lang {
  margin-right: auto;
}
.pre-header .pre-header__contact {
  margin-right: 30px;
  position: relative;
}
.pre-header .pre-header__contact:before {
  content: "";
  background-image: url(../images/chat.svg);
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -20px;
}
.pre-header .pre-header__lang:after, .pre-header .pre-header__profile:after {
  content: url(../images/down-arrow.svg);
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-left: 7px;
}

.main-header .main-nav {
  margin-right: 50px;
  padding: 50px 0 50px 0;
}
.main-header .main-nav__item {
  font-size: 14px;
  color: #ba0000;
  margin-right: 38px;
  padding: 10px;
  position: relative;
}
.main-header .main-nav__item:hover:after {
  content: "";
  position: absolute;
  width: 107px;
  height: 4px;
  background-color: #ba0000;
  left: -15px;
  top: 74px;
}
.main-header .search {
  width: 50px;
  height: 50px;
  background-color: #ba0000;
  border-radius: 25px;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(186, 0, 0, 0.5);
}
.main-header .search .search__item {
  width: 14px;
  height: 14px;
}